<!--
  Generated template for the QuizOverview page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-buttons end>
			<button ion-button color="secondary" >Submit</button>
		</ion-buttons>
		<ion-title>Quiz Overview</ion-title>
		<ion-buttons start>
			<button ion-button color="danger" (click)="openHomePage()">Dismiss</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding >
	<ion-card>
		<ion-card-header >
			<ion-item>{{ quizHeaders?.title }}</ion-item>
		</ion-card-header>
		<ion-card-content>
			<ion-item>Quiz Description</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
