<!--
  Generated template for the QuizEditor page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
    	<ion-title>Create Quiz</ion-title>
    	<ion-buttons right >
    		<button ion-button color='secondary' (click)="openHomePage()">Save</button>
    	</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-title>
			<ion-item>Quiz Tematics</ion-item>
		</ion-title>
		<ion-item>
			<ion-input  type=text placeholder="Title"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input  type=text placeholder="Description"></ion-input>
		</ion-item>	
			<ion-item no-lines >
				<button ion-button color="default">Add question</button>
			</ion-item>		
		</ion-list>

		
	<ion-list>
		<ion-title>
			<ion-item no-lines>Questions</ion-item>
		</ion-title>
			<ion-item>
				<ion-input  type=text placeholder="Question title"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input  type=text placeholder="Answer"></ion-input>
			</ion-item>
			<ion-item no-lines>
				<ion-label>Correct</ion-label>
				<ion-toggle checked="false"></ion-toggle>
			</ion-item>
			<ion-item no-lines>
				<button ion-button color="default">Add answer</button>
			</ion-item>			
	</ion-list>

</ion-content>

<ion-footer>

</ion-footer>
