<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons right>
    	<button ion-button (click)="openEditorPage()" >Create</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<button ion-item (click)="openQuizOverviewPage()" >
			{{quizHeaders?.title}}
			<p>Questions: {{quizHeaders?.questions.length}}</p>
		</button>
	</ion-list>
 </ion-content>
 <ion-footer>
 </ion-footer>

